<app-title-container></app-title-container>
<div class="collumn" style="padding-top: .5em">

  <p-card [style]="{'width':'80vw'}" styleClass="p-card-shadow">
    <div class="cardHeader">
      <h1>Wilkommen auf meiner Webseite</h1>
    </div>
  </p-card>

  <div style="padding-top: 1em">
    <p-card [style]="{'width':'80vw'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <div class="cardHeader">
          <h1>Über die Webseite</h1>
        </div>
      </ng-template>
      <h3>Shop</h3>
      <p>Im Shop kannst du die alle meine bereits modellierten 3D Modelle bestellen, oder auch, wenn du registriert und
        angemeldet bist, deine eigenen persönlichen
        Aufträge erstellen</p><br>
      <h3>News</h3>
      <p>In den News kannst du immer sehen ob es Neuigkeiten zu meinem 3D Druck Shop oder zu dieser Webseite entstanden sind.</p><br>
      <h3>Profil</h3>
      <p>Wenn du dich Registriert hast, kannst du unter Profil deine Aktiven Bestellungen und Persönliche Aufträge ansehen
        um den Fortschritt zu verfolgen <br>
        Ebenfalls kannst du unter Profil in deinen Einstellungen dein Profil bearbeiten und auch löschen wenn du willst.
      </p>
      <br>
      <h3>Hast du Fragen?</h3>
      <p>Melde dich gerne bei mit unter <a href="mailto:info@3d-print-shop.kenosserver.de">info@kenosserver.de</a>. Ich versuche immer
        schnell zu antworten und mich um dein Anliegen zu kümmern.</p><br><br>

      <h5>Und jetzt viel Spaß auf meiner Seite und beim Shoppen :)</h5>
    </p-card>
  </div>
</div>
