@import "src/assets/styles/helpers";


.collumn {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spaceBetweenCards{
  margin-top: 1rem;
}

.p-inputtext-sm{
  margin-top: 0.5rem;
}
