<div class="login-screen">
  <img src="../../../assets/images/Logo.png"
       alt="Logo"
       class="login-screen__logo">

  <h3 class="login-screen__username">Anmelden</h3>

  <!--Username-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pInputText type="email" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="mail"
             placeholder="E-Mail">
    </div>
  </div>
  <!--Password-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pInputText type="password" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="password"
             placeholder="Password">
    </div>
  </div>
  <!-- Submit Button-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <button pButton type="button" label="Anmelden" class="submitButton" (click)="login()"></button>
    </div>
  </div>

  <!--Link zur Register Seite-->
  <div class="login-screen__password-hint">
    <button class="invisibleButton" (click)="navigateToRegister()">Noch kein Account? Jetzt Registrieren!</button>
  </div>
</div>
