@import "src/assets/styles/helpers";

.main{
  @include flex($dir: column, $ai: center, $jc: center);

  height: 100vh;
  color: var(--light-0);
  position: relative;

  &__cookieData {
    color: var(--mac-grey);
    text-shadow: 1px 1px var(--dark-0);
    margin-bottom: 1rem;
  }
  &__input {
    margin-bottom: 1rem;

    .p-inputtext {
      background-color: rgba($color: #000000, $alpha: 0.1);
      outline: none;
      border: none;
      border-radius: 25px;
      color: var(--light-0);
      padding-left: 20px;

      &::placeholder {
        color: var(--mac-grey);
      }

      &:hover,
      &:enabled:focus {
        box-shadow: none;
        border: none;
      }
    }
  }
}
