<div class="main">
  <!--FirstName-->
  <div class="main__input">
    <div class="p-input-icon-right">
      <p>Vorname</p>
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="firstName">
    </div>
  </div>
  <!--LastName-->
  <div class="main__input">
    <div class="p-input-icon-right">
      <p>Nachname</p>
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="lastName">
    </div>
  </div>
  <!--Mail-->
  <div class="main__input">
    <div class="p-input-icon-right">
      <p>Mail</p>
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="mail">
    </div>
  </div>
  <!--Role-->
  <div class="main__input">
    <div class="p-input-icon-right">
      <p>Rolle</p>
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="role">
    </div>
  </div>
</div>
