<div>
  <app-title-container></app-title-container>
  <div class="card">
    <p-dataView #dv [value]="assignments" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <p-button label="Neuer Auftrag" icon="pi pi-plus"
                    (click)="openNewAssignmentModal()"></p-button>
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>

        </div>
      </ng-template>
      <!--      Als List Items-->
      <ng-template let-assignment pTemplate="listItem">
        <div class="col-12">
          <div class="product-list-item">
            <img src="favicon.ico" [alt]="assignment.title">
            <div class="product-list-detail">
              <div class="product-name">{{assignment.title}}</div>
              <div class="product-description">{{assignment.description}}</div>
            </div>
            <div class="product-list-action">
              <span *ngIf="assignment.status.assignmentStatusCode != 101" class="product-price">{{assignment.price}}
                €</span>
              <p-button
                *ngIf="assignment.paymentStatus.paymentStatusCode == 201 && assignment.status.assignmentStatusCode != 101"
                label="{{assignment.paymentStatus.paymentStatus}}"
                [disabled]="assignment.paymentStatus.paymentStatusCode == 203 ||assignment.paymentStatus.paymentStatusCode == 202"
                styleClass="p-button-danger"></p-button>
              <p-button
                *ngIf="assignment.paymentStatus.paymentStatusCode == 202 && assignment.status.assignmentStatusCode != 101"
                label="{{assignment.paymentStatus.paymentStatus}}"
                [disabled]="assignment.paymentStatus.paymentStatusCode == 203 ||assignment.paymentStatus.paymentStatusCode == 202"
                styleClass="p-button-warning"></p-button>
              <p-button
                *ngIf="assignment.paymentStatus.paymentStatusCode == 203 && assignment.status.assignmentStatusCode != 101"
                label="{{assignment.paymentStatus.paymentStatus}}"
                [disabled]="assignment.paymentStatus.paymentStatusCode == 203 ||assignment.paymentStatus.paymentStatusCode == 202"
                styleClass="p-button-success"></p-button>
              <span><p-button label="{{assignment.status.assignmentStatus}}" [disabled]="true" styleClass="p-button-success"></p-button></span>
            </div>
          </div>
        </div>
      </ng-template>
      <!--      Als Grid Item-->
      <ng-template let-assignment pTemplate="gridItem">
        <div class="col-12 md:col-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-top">
              <span
                [class]="'product-badge status-'+assignment.status.assignmentStatusCode">
                <p-button label="{{assignment.status.assignmentStatus}}" [disabled]="true" styleClass="p-button-success"></p-button> </span>
            </div>
            <div class="product-grid-item-content">
              <img src="favicon.ico" [alt]="assignment.title">
              <div class="product-name">{{assignment.title}}</div>
              <div class="product-description">{{assignment.description}}</div>
            </div>
            <div class="product-grid-item-bottom">
              <span *ngIf="assignment.status.assignmentStatusCode != 101" class="product-price">{{assignment.price}}
                €</span>
              <p-button
                *ngIf="assignment.paymentStatus.paymentStatusCode == 201 && assignment.status.assignmentStatusCode != 101"
                label="{{assignment.paymentStatus.paymentStatus}}"
                [disabled]="assignment.paymentStatus.paymentStatusCode == 203 ||assignment.paymentStatus.paymentStatusCode == 202"
                styleClass="p-button-danger"></p-button>
              <p-button
                *ngIf="assignment.paymentStatus.paymentStatusCode == 202 && assignment.status.assignmentStatusCode != 101"
                label="{{assignment.paymentStatus.paymentStatus}}"
                [disabled]="assignment.paymentStatus.paymentStatusCode == 203 ||assignment.paymentStatus.paymentStatusCode == 202"
                styleClass="p-button-warning"></p-button>
              <p-button
                *ngIf="assignment.paymentStatus.paymentStatusCode == 203 && assignment.status.assignmentStatusCode != 101"
                label="{{assignment.paymentStatus.paymentStatus}}"
                [disabled]="assignment.paymentStatus.paymentStatusCode == 203 ||assignment.paymentStatus.paymentStatusCode == 202"
                styleClass="p-button-success"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <p-toast position="bottom-center" key="messager"></p-toast>
</div>

<p-dialog header="Neuer Auftrag" [(visible)]="displayCreateNewAssignment" [style]="{width: '90vw'}" [modal]="true"
          [maximizable]="true" [draggable]="true" [resizable]="true">
    <div class="collumn" style="padding: 0.5rem">
      Titel:<input type="text" pInputText [(ngModel)]="newAssignment.title" placeholder="Der Name für deine Bestellung" style="margin-top: 5px"><br>
      Beschreibung:<textarea [rows]="3" pInputTextarea [(ngModel)]="newAssignment.description"
                             placeholder="Hier bitte eine genaue Beschreibung der Bestellung eingeben, möglichst mit allen Daten die vorliegen. Wie z.B. Maße usw." style="margin-top: 5px"></textarea><br>
      Farbe:
      <p-dropdown [options]="plaColors" [(ngModel)]="newAssignment.plaColor" optionLabel="color" style="margin-top: 5px"></p-dropdown>
      <br>
      Versand:
      <span style="margin-top: 5px">
        <div *ngFor="let deliveryOption of deliveryOptions" class="field-checkbox">
        <p-checkbox name="deliveryOptionsGroup" value="deliveryOption" [value]="deliveryOption"
                    [(ngModel)]="selectedDeliveryOption" [inputId]="deliveryOption.deliveryName"
                    (onChange)="unselectAll(deliveryOption)"></p-checkbox>
        <label for="deliveryOption.deliveryName"
               title="{{deliveryOption.deliveryDescription}}">{{deliveryOption.deliveryName}}
          | Preis: {{deliveryOption.deliveryPrice}}€</label>
      </div></span>
      <br>
      Massivität:
      <p-knob [(ngModel)]="newAssignment.infill"></p-knob>
      <br>
      Dateien:
      <p-fileUpload name="myfile[]" url="http://localhost:8080/api/upload" style="margin-top: 5px"></p-fileUpload>
      <br>
    </div>

  <div class="row">
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Speichern" icon="pi pi-check" styleClass="p-button-success"
              (click)="saveNewAssignment()"></p-button>
  </ng-template>
</p-dialog>


