<div class="login-screen" style="padding: 5%">
  <img src="../../../assets/images/Logo.png"
       alt="golf-ball"
       class="login-screen__logo">

  <h3 class="login-screen__username">Registrieren</h3>

  <!--FirstName-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="firstName"
             placeholder="Vorname">
    </div>
  </div>
  <!--LastName-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="lastname"
             placeholder="Nachname">
    </div>
  </div>
  <!--Mail-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pInputText type="text" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="mail"
             placeholder="E-Mail">
    </div>
  </div>
  <!--Password-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pPassword type="password" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="password"
             placeholder="Passwort">
    </div>
  </div>
  <!--Password confirmation-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <input pPassword type="password" class="p-inputtext-sm" autocomplete="on" [(ngModel)]="passwordConfirm"
             placeholder="Passwort bestätigen" [feedback]="false">
    </div>
  </div>
    <!-- Submit Button-->
  <div class="login-screen__input">
    <div class="p-input-icon-right">
      <button pButton type="button" label="Registrieren" class="submitButton" (click)="register()"></button>
    </div>
  </div>
<!--  Datenschutzerklärung und AGB-->
  Mit ihrer Registrierung erklären Sie sich mit unseren <a routerLink="/agb"> Allgemeinen Geschäftsbedingungen</a> einverstanden. Bitte lesen sie unsere <a routerLink="/datenschutz"> Datenschutzerklärungen</a>.
  <!--Link zur Register Seite-->
  <div class="login-screen__password-hint">
    <button class="invisibleButton" (click)="navigateToLogin()"> Bereits Registriert? Jetzt hier anmelden.</button>
  </div>
</div>
